<!--Animation Using 3rd Party (Magic CSS)-->
<div class="">
    <h2 class="head">Hello Wolrd</h2>
</div>
<!--Animation Using 3rd Party (Magic CSS)-->

<!--Example for Predefined Directives of Angular 2 for CSS-->
<button [style.background-color]="'blue'" (click)="clicked()">Click Me</button>
<!--Example for Predefined Directives of Angular 2 for CSS-->

<!--Example for Predefined Directives of Angular 2 (ngStyle)-->
<p [ngStyle]="myCSSObject">This paragraph is to show us the ngStyle Options</p>
<!--Example for Predefined Directives of Angular 2 (ngStyle)-->

<!--Example for ngNonBindable-->
<div>{{state}} this div has the content without ngNonBindable</div>
<div ngNonBindable>{{state}} this div has the content with ngNonBindable</div>
<!--Example for ngNonBindable-->


<!--Form Examples-->

<my-form></my-form>
<!--Form Examples-->


<!--HTTP Requests Samples-->
<http-child></http-child>
<!--HTTP Requests Samples-->

<youtube-search></youtube-search>